/* Colors  */

:root {
  --side-bar-color: rgb(28, 148, 211);
  --sidebar-text-color: rgb(255, 255, 255);
  --card-border-left: rgb(240, 180, 41);
  --subtext-color: rgb(99, 99, 99);
  --main-content-bg-color: rgb(226, 232, 240);
}

@font-face {
  font-family: "rooboto";
  src: url(./ressources/fonts/roboto/Roboto-Regular.ttf);
}

body {
  font-family: "roboto", sans-serif;
  height: 100vh;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
.sidebar li {
  list-style-type: none;
}

/* Design */

.container {
  height: 100%;
  display: grid;
  grid-template: 1.5fr 3fr 3fr / 1fr 3fr 1fr;
  grid-template-areas:
    "sidebar header header"
    "sidebar content-main announcements"
    "sidebar content-main trending";
}

.sidebar {
  font-size: 1.5rem;
  grid-area: sidebar;
  padding: 20px;
  /* display: grid; */
  /* gap: 10px; */
  background-color: var(--side-bar-color);
  color: var(--sidebar-text-color);
  /* grid-template-rows: 0.5fr 1fr 1fr; */
}

.sidebar > * {
  border: 1px solid black;
  /* display: grid; */
}
.sidebar-title {
  font-size: 2.2rem;
}

.sidebar li,
.sidebar-title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mat-icon {
  width: 30px;
  height: 30px;
}
.dashboard-icon {
  width: 50px;
  height: 50px;
}

.header {
  grid-area: header;
}

.content-main {
  grid-area: content-main;
  background-color: var(--main-content-bg-color);
}

.announcements {
  grid-area: announcements;
}

.trending {
  grid-area: trending;
}
